<footer id="contact" class="site-footer">
    <div class="copyright">© 2025 C.O.O.L Enrichment Academy. All rights reserved.</div>
    <div class="attribution">Website by <a href="https://venturacoastwebdesign.com" target="_blank">Ventura Coast Web Design</a></div>
</footer>