@use "variables" as *;
@use "mixins";

.site-footer {
  background: $color-bg-mid;
  display: flex;
  border-top: 2px solid $color-sage-light;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing-md;
  margin-top: auto;
  padding: $spacing-md 0;

  @include mixins.responsive($breakpoint-md) {
    flex-direction: row;
    gap: $spacing-xxl;
  }

  
  .attribution {
    text-align: center;
    font-size: 0.875rem;
    color: $color-forest-dark;
  }

  .copyright {
    text-align: center;
    font-size: 0.875rem;
    color: $color-forest-dark;
  }
}