@use "variables" as *;

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    
    
    .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0b1d3a;
    }
    
    
    .nav-links a {
    margin-left: 1.5rem;
    text-decoration: none;
    font-weight: 500;
    color: #0b1d3a;
    &:hover { color: #e67a2c; }
    }
    }